.awcache/
.idea/
.vscode/
.jsbeautifyrc
.scannerwork

build/
coverage/
dist/
node_modules/
typings/

app/config/*.json
!app/config/default.json
!app/config/dev-box.sample.json
!app/config/sample.json

config/*.json
!config/*.sample.json
bb-box.state.json

*.log
*.sublime-*
.DS_store
webpack.config.dev.js
webpack.dev.config.js
TODO.md
